<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>Employee Management System</title>
</head>
<body>
	<div class="container">
		<h1>Employee Management System</h1>
		<hr>
		<h2>Add Employee</h2>
		<form action="#" th:action="@{/addEmpoyee}" th:object="${employee}"
			method="POST">
			<input type="text" th:field="*{firstName}"
				placeholder="Enter Employee First Name" class="form-control mb-4 col-5">
				
			<input type="text" th:field="*{lastName}"
				placeholder="Enter Employee Last Name" class="form-control mb-4 col-5">
				
			<input type="email" th:field="*{email}"
				placeholder="Enter Email" class="form-control mb-4 col-5">
				
			<input type="tel" th:field="*{phoneNumber}"
				placeholder="Enter Phone Number" class="form-control mb-4 col-5">
				
			<button type="submit" class="btn btn-info col-2">Add Employee</button>

		</form>
	</div>
</body>
</html>